.header {
    background-color: #ce2429;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border: 1px solid transparent;
}

.nav-link:hover {
    background-color: white;
    color: #ce2429;
    border-radius: 5px;
}

.nav-link.active {
    background-color: white;
    color: #ce2429;
    border-radius: 5px;
    font-weight: bold;
}